Form input {
    height: 3.6rem;
}

input:hover {
    border: 1px solid rgba(0, 0, 255, 0.652);
}

.google-auth {
    height: 55px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    color: #1b4388;
    font-size: 18px;
    position: relative;
}

.google-auth img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.google-auth p {
    margin-left: 10px;
}
.input-wrapper {
    padding: 2px;
    border-radius: 7px;
    background: #1b4388;
    background: linear-gradient(
      25deg,
      rgba(27, 67, 136, 1) 0%,
      rgba(30, 144, 194, 1) 100%
    );
  }