 /* Footer part start */
 .footer-container{
    background-color: rgba(30, 39, 51, 0.8);
    margin-top: 70px;
}

.footer-description{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.footer-description p{
    color: white;
    margin: 0
}
.copyright{
    color: white;
    text-align: center;
}
.pages a{
    text-decoration: none;
    color:white;
    margin-left: 20px;
    display: block;
}
.pages a:hover{
    color:white;
    text-decoration:underline;
}
.pages{
    margin-left: 0.9rem;
}

