.allServices-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}

@media only screen and (max-width:600px) {
    .allServices-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}